.bg-image{
  background: url(/assets/images/ftgbanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  filter: grayscale(80%);
}
